%rename link old_link_

*link:
%(old_link_) -q --embedded-relocs --no-demangle -T @SUBSDK_LD_PATH@ --no-relax --no-gc-sections --shared --export-dynamic --build-id=sha1 --nx-module-name -init=exl_module_init --exclude-libs=ALL

*startfile:
crti%O%s crtbegin%O%s