%rename link old_link_

*link:
%(old_link_) -q --embedded-relocs --no-demangle -T @SUBSDK_LD_PATH@ -T @CMAKE_BINARY_DIR@/syms.ld --no-relax --no-gc-sections --unresolved-symbols=ignore-all --shared -Bsymbolic --export-dynamic --build-id=sha1 --nx-module-name -init=exl_module_init --exclude-libs=ALL

*startfile:
crti%O%s crtbegin%O%s